*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 0.1px;
}

#nav{
    height: 10vh;
    width: 100%;    
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h1{
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 45px;
    letter-spacing: -1px;
}

#nav h2{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 26px;
    font-weight: 600;
}

#nav h2:nth-last-child(2){
    width: 29%;
}

#nav h2:nth-last-child(1){
    width: 10%;
}

#center{
    height: 90%;
    width: 100%;
    position: relative;
    padding: 4vw;
}

#content{
    height: 100%;
    width: 100%;
    position: relative;
}

#content video{
    height: 110%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 56%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
    color: #fff;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 2vw; */
}

#over1 h1{
    font-family: monument; 
    font-size: 3.6vw;
     font-weight: 150; 
     
}

#over1 h2{
    font-size: 1vw;
    padding: 1.5vw 1.5vw;
    border-radius: 50%;
    border: 2px solid #fff;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    /* padding: 0.1vw 0; */
    margin-top: 0.1vw;
}

#over2 h4{
    font-size: 2vw;
    font-weight: 500;
}

#over2 img{
    height: 5vw;
}